<section class="bg-about">

  <div class="pt-3">

    <h3>HTML & CSS :</h3>

    <div class="row g-4 container">

      <div class="col-md-6 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/mealify.png" alt="Meadif">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/Meadif/">Meadif</a>

        </div>

      </div>
      <div class="col-md-6 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/Fork.png" alt="Fokir">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/Fokir/">Fokir</a>

        </div>

      </div>

    </div>

  </div>

  <div class="pt-5">

    <h3>HTML & CSS & Bootstrap :</h3>

    <div class="row g-4 container">

      <div class="col-md-6 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/DevFolio.png" alt="Meadif">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/DevFolio/">DevFolio</a>

        </div>

      </div>
      <div class="col-md-6 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/Daniels.png" alt="Daniels">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/Daniels/">Daniels</a>

        </div>

      </div>

    </div>

  </div>
  <div class="pt-5">

    <h3>HTML & CSS & Bootstrap JaveScript :</h3>

    <div class="row g-4 container">

      <div class="col-md-6 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/book.png" alt="Book">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/Book/">Book</a>

        </div>

      </div>
      <div class="col-md-6 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/games.png" alt="games">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/Games/">Games</a>

        </div>

      </div>

    </div>

  </div>

  <div class="pt-5">

    <h1>Anguler :</h1>

    <div class="row g-4 container">

      <div class="col-md-12 text-center">

        <div class="bg-body-secondary">

          <img class="w-100" src="./assets/Ecom.png" alt="Ecommerce">
          <a target="_blank" class="h5" href="https://nargesmohmmed.github.io/Ecommerce_app1/">Ecommerce</a>

        </div>

      </div>

    </div>

  </div>

</section>
